.container {
    width: 1440px;
    margin: 0px 80px;
    padding-top: 50px;
}

.head {
    padding: 50px 80px;
}

.headLine {
    border-bottom: solid 4px #FF0054;
    width: 136px;
    margin-bottom: 20px;
}

.headTittle {
    font-size: 40px;
    font-weight: 700;
    line-height: 51.2px;
    color: #0DC5AE;
    font-family: 'Poppins', sans-serif;

}

.headList1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40.96px;
    color: #212B36;
    font-family: 'Poppins', sans-serif;

}

.intro {
    padding: 50px 80px;
}

.introT{
    font-size: 128px;
    line-height: 163.84px;
    font-weight: 700;
    color: #212B36;
    display: inline;
    font-family: 'Poppins', sans-serif;

}

.visionText {
    font-size: 32px;
    line-height: 41px;
    font-weight: 600;
    color: #FF0054;
    font-family: 'Poppins', sans-serif;

}

.value {
    box-sizing: border-box;
    background-color: #F9F0EC;
    padding: 40px 40px;
}

.valueHead {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    color: #FF0054;
    font-family: 'Poppins', sans-serif;
}

.valueText {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}


