.container {
    width: 1440px;
    margin: 0px 80px;
    box-sizing: border-box;
    background-color: #DFDFDF;
    ;
}

.search {
    display: flex;
    background-color: #F9F0EC;
    height: 779px;
    justify-content: space-between;
}

.searchLeft {
    padding-left: 50px;
    margin-top: 80px;   
    margin-left: 40px;
    width: 466px;
    height: 348px;
}

.head {
    font-size: 64px;
    line-height: 81.92px;
    color: #0DC5AE;
    font-weight: 700;
}

.head2 {
    font-size: 64px;
    line-height: 81.92px;
    color: #FF0054;
}

.headText {
    text-align: justify;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;   
    color: #637381;
}

.seachInput {
    display: flex;
    padding: 8px;
    background-color: #FFFFFF;
}

.seachInput input {
    flex-grow: 1;
    border: none;
}

.searchIcon {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: #FA541C;
    border-radius: 8px;
}

.searchIcon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
}

.searchRight {
    flex-basis: 50%;
}

.intro {
    display: flex;
    margin: 100px 100px;
    padding-bottom: 70px;
}

.introLeft {
    position: relative;
    flex-basis: 50%;
    margin-right: 50px;
}

.introHead {
    font-size: 40px;
    line-height: 51.2px;
    color: #0DC5AE;
    font-weight: 700;
}

.introHead2 {
    color: #FF0054;
}

.introText {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-align: justify;
    color: #212B36;
}

.introIconList {
    margin-top: 50px;
    margin-right: 70px;
    display: grid;
    grid-template-columns: auto auto;
}

.introIcon {
    display: flex;
    align-items: center;
}

.introIconText {
    font-size: 22px;
    line-height: 28.16px;
    font-weight: 500;
    color: #212B36;
    margin-left: 20px;
}

.introIcon img {
    width: 46px;
    height: 46px;
}

.introRight {
    display: grid;
    justify-content: center;
}
 
.introRight1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.chooseUsTittle {
    font-size: 40px;
    font-weight: 700;
    line-height: 51.2px;
    color: #023F3A;
    text-align: center;
}

.chooseUsList {
    display: flex;
    margin: 50px 100px;
}

.chooseUs {
    width: 351px;
    height: 362px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: 20px 20px;
    padding: 10px 20px;
}

.chooseUsHead {
    font-size: 20px;
    font-weight: 600;
    line-height: 25.6px;
    color: #0DC5AE;
}

.product {
    background-color: #F9F0EC;
    padding: 50px 100px;
    position: relative;
}

.productTittle {
    font-size: 40px;
    font-weight: 700;
    color: #0DC5AE;
    line-height: 51.2px;
    margin-bottom: 0px;
}

.productTittle2 {
    color: #EF4444;
}

.productTittle3 {
    color: #0EAF8F;
}

.productHero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productHero1 {
    display: flex;
    flex-direction: column;
}

.productHero1Text {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #222831;
    padding: 10px 20px;
    &:hover {
        background-color: #FF5722;
        color: white;
    }
}

.news {
    height: 1093px;
    background-color: #FFFFFF;
    padding-top: 70px;
}

.newsTittle{
    display: flex;
    padding: 50px 100px;   
    align-items: center;
    position: relative;
}

.newsTittleHead {
    font-size: 40px;
    font-weight: 700;
    line-height: 51.2px;
    color: #0DC5AE;
}

.newsTittleText {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #637381;
}

.newsTittleIcon {
    flex-basis: 80%;
}

.newsList{
    display: grid;
    padding-left: 100px;
}

.newsListHead {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    position: relative;
    background-image: url("../../assets/news/Image\ Ratio\ Overlay.png");
    width: 560px;
    height: 746px;
    box-sizing: border-box;
}

.newsListItem1 {
    grid-row: 1;
    grid-column: 3;
    text-align: left;
    width: 264px;
}

.newsListItem2 {
    grid-row: 2;
    grid-column: 3;
    text-align: left;
    width: 264px;
}

.newsListItem3 {
    grid-row: 1;
    grid-column: 4;
    text-align: left;
    width: 264px;
}

.newsListItem4 {
    grid-row: 2;
    grid-column: 4;
    text-align: left;
    width: 264px;
}

.newsListHeadText {
    position: absolute;
    left: 30px;
    bottom: 0;
    right: 30px;
}

.newsListTime {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    opacity: 72%;
}

.newsListHeadTextTittle {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.newsListHeadText2 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 48%;
}

.newsListItemTime {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #919EAB;
    ;
}

.newsListItemText {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #212B36;
    ;
}

.partnerTittle {
    font-size: 40px;
    line-height: 51.2px;
    font-weight: 700;
    color: #0DC5AE;
    text-align: center;
    padding-top: 100px;
}

.partnerList {
    display: flex;
    padding: 30px 20px;
}

.partnerItem {
    padding: 10px 20px;
}

